<% unless user_signed_in? %>
  <% controller.redirect_to new_user_session_path , notice: "Please sign in." %>
<% end %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
<%= link_to 'Back', users_path, class: "btn btn-link" %>
