<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      There has been a reservation made at the following brewery:
    </p>
    <p>
      <%= Brewery.find(@reservation.brewery_id).brewery_name %>
    </p>
    <p>
      The visitor's details:
    </p>
    <p>
      Email: <%= @reservation.email %><br>
      Message: <%= @reservation.message %>
    </p>
    <p>
      On:
    </p>
    <p>
      <%= @reservation.request_date_time %>
    </p>
  </body>
</html>
