<% unless user_signed_in? %>
  <% controller.redirect_to new_user_session_path , notice: "Please sign in." %>
<% end %>
<h1>New Brewery</h1>

<%= render 'form' %>

<%= link_to 'Back', user_breweries_path(@user), class: "btn btn-link" %>
