<% title 'Edit ' + @beer.beer_name %>
<h1>Editing Beer</h1>

<%= render 'form' %>

<%= link_to 'Show', [@user, @brewery, @beer], class: "btn btn-primary" %>
<%= link_to 'Back', user_brewery_beers_path(@user, @brewery), class: "btn btn-link" %>
