<% unless user_signed_in? %>
  <% controller.redirect_to new_user_session_path , notice: "Please sign in." %>
<% end %>
<h1>New Beer</h1>

<%= render 'form' %>

<%= link_to 'Back', user_brewery_beers_path(@user, @brewery), class: "btn btn-link" %>
