<% title 'Listing Categories' %>
<h1>Listing Categories</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Breweries</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= category.breweries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
